* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  
  background: transparent;
  
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  display: block;

  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button, a {
  color: inherit;
  
  cursor: pointer;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  border-radius: 0;
  appearance: none !important;
  -webkit-appearance: none !important;
}

/* https://www.materialpalette.com/colors */

body {
  background: #c0ca33;

  color: #4db6ac;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  font-weight: 500;
  text-align: end;
  vertical-align: middle;
  line-height: 150px;
}

#root {
  display: flex;
  /* csak kozvetlen child orokli */
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-evenly;
  
  width: 100%;
  min-height: 50vh;
  padding: 15px;
}

#root div {
  width: 140px;
  height: 140px;
  margin: 15px;
  padding: 10px;
  border: 5px solid #4db6ac;
  border-radius: 15%;
  
  transition-duration: 1s;
  transition-delay: 0.2s;
}

#root div:hover {
  transform: rotate(360deg);
  border: 5px solid #80cbc4;
  color: #009688;
  line-height: 50px;
}
